.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #ddd;
  transition: width 0.3s, background-color 0.3s;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s;
  position: relative;
  justify-content: center;
  flex-shrink: 0;
}

.sidebar-header .toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 16px;
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  width: 57px; 
  height: 57px; 
  justify-content: center; 
  border-radius: 8px;
  transition: background-color 0.3s, width 0.3s; 
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%; 
  height: 100%; 
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;
  justify-content: flex-start; 
  padding: 0 16px; /
}

.sidebar-link:hover {
  background-color: #F3656B; 
  color: white; 
}

.sidebar-link svg {
  color: #F3656B;
  width: 23.916px;
  height: 25.089px;
  transition: color 0.3s;
}

.sidebar-link:hover svg {
  color: white;
}

.sidebar-text {
  margin-left: 16px;
  color: #333;
  transition: color 0.3s;
}

.sidebar-link:hover .sidebar-text {
  color: white;
}

.sidebar-footer {
  padding: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  flex-shrink: 0;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 12px;
}

.sidebar.expanded .sidebar-item {
  width: 200px; 
  justify-content: flex-start; 
}

.sidebar.collapsed .sidebar-item {
  width: 57px; 
  justify-content: center; 
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 16px;
  transition: all 0.3s;
  position: relative;
  margin: 0 auto; 
  flex-shrink: 0;
}

.sidebar.expanded .logo-container {
  position: relative;
  margin-left: 16px; 
}

.logo {
  width: 55px;
  height: 55px;
  transition: transform 0.5s;
}

.logo.expanded {
  transform: rotate(0deg);
}

.logo.collapsed {
  transform: rotate(360deg);
}

.logo-text {
  margin-left: 12px;
  font-size: 18px;
}

.sidebar.collapsed .logo-text {
  display: none;
  font-weight: bold;
  color: #F3656B;
}
